[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=sh -c 'ffuf -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/default.png
Name=Ffuf
Terminal=true
Type=Application
