[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'pdfcrack; $SHELL'
Icon=/usr/share/icons/blackbuntu/default.png
Name=PDFcrack
Terminal=true
Type=Application
