[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'hashdeep -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/default.png
Name=Hashdeep
Terminal=true
Type=Application
