[Desktop Entry]
Version=1.0
Categories=Sniffing - Spoofing;
Exec=sh -c 'netsniff-ng -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/default.png
Name=Netsniff-NG
Terminal=true
Type=Application
