[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'openocd --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/default.png
Name=OpenOCD
Terminal=true
Type=Application
